@using System.Data
@using Microsoft.AspNetCore.Components

<h2>asdasd</h2>
<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn column in DataTable.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in DataTable.Rows)
        {
            <tr>
                @foreach (var item in row.ItemArray)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>



@code {
    [Parameter]
    public DataTable DataTable { get; set; }

    
}
